@page "/profesiones/crear"
@inject IHttpServicio http
@inject NavigationManager navigationManager
<h3>Nueva Profesion</h3>

<FormProfesion prof="profesion" onValidSubbmit="Grabar" onCancel="Cancelar" />

@code {
    private Profesion profesion = new Profesion();

    private async Task Grabar() 
    {
        ProfesionDTO profesionDTO = new()
        {
            CodProfesion = profesion.CodProfesion,
            Titulo = profesion.Titulo
        };
        var httpRespueta = await http.Post<ProfesionDTO>("api/profesiones", profesionDTO);

        if (httpRespueta.Error)
        {
            var body = httpRespueta.HttpResponseMessage;
        }

        navigationManager.NavigateTo("/profesiones");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/profesiones");
    }

}
