@page "/profesiones"
@inject IHttpServicio http

<PageTitle>PROFESIONES</PageTitle>

<HeadContent>
    <meta name="description" content="Listado de profesiones" />
</HeadContent>

<h3>Lista de Profesiones</h3>

<a class="btn btn-primary" href="profesiones/crear">Crear Profesión</a>

<table>
    <tr>
        <th>Código</th>
        <th>Profesión</th>
    </tr>

    @if (Error)
    {
        <tr>@Mensaje</tr>
    }
    else
    {
        @if (profesiones == null)
        {
            <tr>Cargando....</tr>
        }
        else if (profesiones.Count == 0)
        {
            <tr>no existen datos</tr>
        }
        else
        {
            @foreach (var item in profesiones)
            {
                <tr>
                    <td>@item.CodProfesion</td>
                    <td>@item.Titulo</td>
                    <td>
                        <a class="btn btn-primary"
                           href="profesiones/editar/@item.Id">
                            Editar
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-warning"
                           @onclick="()=>Eliminar(item)">
                            Borrar
                        </button>
                    </td>
                </tr>
            }
        }
    }
</table>
<Confirmacion @ref="confirmacion"
              verCancelar="true"
              verOk="true"
              textOk="Aceptar"
              Titulo="Borrar especialidad"
              onCancel="Cancelar"
              onConfirm="Borrar">
    <div>
        <h1>Está por borrar la especialidad @ProfesionBorrar.Titulo</h1>
        <br />
        ¿Está seguro que desea continuar?
    </div>
</Confirmacion>

@code {
    Confirmacion confirmacion;

    List<Profesion>? profesiones;
    bool Error = false;
    string Mensaje = "";
    Profesion ProfesionBorrar;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        profesiones = null;
        var respuesta = await http.Get<List<Profesion>>("api/Profesiones");
        Error = respuesta.Error;
        if (!respuesta.Error)
        {
            profesiones = respuesta.Respuesta;
        }
        else
        {
            Mensaje = await respuesta.ObtenerError();
        }
    }

    private void Cancelar()
    {
        confirmacion.Ocultar();
        ProfesionBorrar = null;
    }

    private async Task Eliminar(Profesion profBorrar)
    {
        ProfesionBorrar = profBorrar;
        confirmacion.Ver();
    }

    private async Task Borrar()
    {
        var respuesta = await http.Delete($"api/profesiones/{ProfesionBorrar.Id}");
        if (respuesta.Error)
        {
            var body = "error no se pudo borrar";
        }
        Cancelar();
        await Leer();
    }

}
